# Database
DB_HOST=postgres
DB_NAME=airflow
DB_USER=airflow
DB_PASSWORD=airflow
DB_PORT=5432

# Airflow
AIRFLOW_SECRET_KEY=mysecretkey12345

# Email (optional)
EMAIL_SENDER=
EMAIL_PASSWORD=
EMAIL_RECEIVER=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

# AWS S3 (optional)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1

# Paths
DAGS_FOLDER=/app/dags
CONTAINER_DATA_PATH=/opt/airflow/user_data
CONTAINER_DATASET_PATH=/opt/airflow/dataset
WINDOWS_DATA_PATH=
WINDOWS_DATASET_PATH=